html  {
  background-color: #a9cced;
  font-family: verdana;
}

#header  {
  width: 100%;
  padding-bottom: 30px;
  text-align: center;
}
#body  {
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 15px;
}
#table {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}
td  {
  border: 1px solid;
}

.Method  {
  width: 10%;
}

.Description  {
  width: 40%;
}

.Example  {
  width: 30%;
}

#footer {
  padding-top: 15px;
  text-align: center;
}