html {
  background-color: #708090;
  color: white;
  font-size: 20px;
}

#header {
  height: 100px;
  width: 1000px;
  margin-top: 30px;
  font-size: 35px;
}

#nav {
  height: 30px;
  width: 1000px;
  margin-top: 30px;
  font-size: 20px;
}

ul {
  height: 45px;
  width: 500px;
  padding-right: 0px;
  color: white;
  float: left;
}